
/*================================
color
===============================*/
$base-color: #393327;
$base-color2: #FFFFFF;
$base-color3: #FAFAFA;
$base-color4: #1A1A1A;
$base-color5: #E8E8E8;
$base-color6: #000000;
$main-color: #8B6C3A;


